@font-face {
    font-family: "Agbalumo";
    src: url(../../../../public/fonts/Agbalumo/Agbalumo-Regular.ttf);
}

@font-face {
    font-family: "Pacificio";
    src: url(../../../../public/fonts/Pacifico-Regular.ttf);
}